{% extends "base.html" %}

{% block content %}
<h2>Register Form</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password") }}
    </div>
    <div class="form-group">
        {{ form.password_again.label }}
        {{ form.password_again(class="form-control", type="password") }}
    </div>
    <div class="form-group">
        {{ form.surname.label }}
        {{ form.surname(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.age.label }}
        {{ form.age(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.position.label }}
        {{ form.position(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.speciality.label }}
        {{ form.speciality(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.address.label }}
        {{ form.address(class="form-control") }}
    </div>
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
