{% extends "base.html" %}
{% block title %}Add/Edit Job{% endblock %}
{% block content %}
<h1>Add a Job</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.job_title.label }}
        {{ form.job_title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.work_size.label }}
        {{ form.work_size(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.collaborators.label }}
        {{ form.collaborators(class="form-control") }}
    </div>
    <div class="form-check mb-3">
        {{ form.is_finished() }}
        {{ form.is_finished.label }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
